/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "sassy-buttons";
@import "compass/css3/border-radius";
$adioso-orange-color          : #f57931;
$filters-container-background : #b6ffd0;
$grey                         : #f4f4f4;
$dark-grey                    : #e5e5e5;
$base-font                    : 300 23px/35px "Helvetica Neue", sans-serif;

div.boxes {
	margin  : 0 0 10px;
	padding : 0 18px;
	img {
		display:block;
	}
	ul {
		float:left;
		li {
			color     : #7f7f7f;
			font-size : 50%;
			display   : inline-block;
			* {
				display : block;
			}
		}
	}
	button.search-button {
		float:right;
		@include sassy-button("glass", 5px, 13px, $adioso-orange-color);
	}
	div {
		clear:both;
		padding-top:10px;
		padding-bottom:20px; 
		padding-left:15px;
		padding-right:15px;
		span.question {
			color : $dark-grey;
		}
		span.suggestion {
			color : #5496ea;
		}
	}
}

.main {
	border-top-style : solid;
	border-top-width : 1px;
	border-top-color : $dark-grey;
	background-color : $grey;
	padding          : 0 18px;

	div.header {
		margin:0 0 10px;
		display:block;
		div {
			display:inline;
			span.description {
				font: $base-font;
				float: left;
			}
			button.watch-button {
				@include sassy-button("glass", 5px, 13px, #829fb2);
				float : right;
			}
		}
		div {
			clear : both;
			display : inline;
			div.breadcrumbs {
				color : $adioso-orange-color;
				float:left;
				span:first-child:before {
					content : "";
				}
				span:before {
					color : black;
					content: " > ";
				}
			}
			ul.social-buttons {
				float:right;
			}
		}
		div.filters-container {
			clear : both;
			background-color : $filters-container-background;
			display: block;
			font : $base-font;
			color : #50735C;
			padding : 10px 25px;
			@include border-radius(7px);
		}
	}

	div.graph-container {
		img {
			display      : block;
			margin-left  : auto;
			margin-right : auto;
		}
	}

	div.active-filter-wrapper {
		div.filters-list {
			background-color : $dark-grey;
			padding : 4px;
			@include border-radius(7px);
			button {
				@include sassy-button("glass", 5px, 11px, #4b4b4b, #4b4b4b, #b0b0b0);
			}
		}
	}

	div.spacer {
		height: 50px;
	}

	div.today {
		background-color : $dark-grey;
		color : #7f7f7f;
		padding          : 10px 0px;
		width : 200px;
		@include border-right-radius(7px);
	}
}

