/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent : 
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/screen.scss */
span {
  font: 500 16px/20px "Helvetica Neue", sans-serif;
}

/* line 29, ../sass/screen.scss */
body {
  *zoom: 1;
  max-width: 100.0%;
  _width: 100.0%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0%;
  padding-right: 0%;
  background-color: #f4f4f4;
}
/* line 38, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}
/* line 14, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/susy-1.0.1/sass/susy/_grid.scss */
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 39, ../sass/screen.scss */
.boxes {
  padding-left: 10.0%;
  padding-right: 10.0%;
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: 0%;
  display: inline;
  background-color: white;
  padding-bottom: 2%;
}
/* line 44, ../sass/screen.scss */
.boxes .image {
  padding-bottom: 3%;
}
/* line 46, ../sass/screen.scss */
.boxes .image img {
  width: 8.33333%;
  float: left;
  margin-right: 0%;
  display: inline;
  margin-right: 91.66667%;
}
/* line 53, ../sass/screen.scss */
.boxes .labels li {
  width: 25%;
  float: left;
  margin-right: 0%;
  display: inline;
}
/* line 172, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/susy-1.0.1/sass/susy/_grid.scss */
.boxes .labels li:last-child {
  float: right;
  margin-right: 0;
  #margin-left: 0%;
  display: inline;
}
/* line 56, ../sass/screen.scss */
.boxes .labels li span {
  color: #7f7f7f;
  font-size: 60%;
}
/* line 63, ../sass/screen.scss */
.boxes .inputs {
  padding-bottom: 6%;
}
/* line 65, ../sass/screen.scss */
.boxes .inputs div {
  width: 25%;
  float: left;
  margin-right: 0%;
  display: inline;
}
/* line 172, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/susy-1.0.1/sass/susy/_grid.scss */
.boxes .inputs div:last-child {
  float: right;
  margin-right: 0;
  #margin-left: 0%;
  display: inline;
}
/* line 68, ../sass/screen.scss */
.boxes .inputs div input {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  font: 500 16px/20px "Helvetica Neue", sans-serif;
  padding: 3%;
  width: 85%;
}
/* line 74, ../sass/screen.scss */
.boxes .inputs div button.search-button {
  font-size: 13px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF57931', endColorstr='#FFB74909');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #f79258), color-stop(51%, #f57931));
  background: -webkit-linear-gradient(#f79258 50%, #f57931 51%);
  background: -moz-linear-gradient(#f79258 50%, #f57931 51%);
  background: -o-linear-gradient(#f79258 50%, #f57931 51%);
  background: linear-gradient(#f79258 50%, #f57931 51%);
  -webkit-box-shadow: #fac2a1 0 1px 0 inset;
  -moz-box-shadow: #fac2a1 0 1px 0 inset;
  box-shadow: #fac2a1 0 1px 0 inset;
  border: 1px solid #f46919;
  color: white;
  text-shadow: #c24d09 0 -1px 0;
}
/* line 15, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.boxes .inputs div button.search-button:hover {
  text-decoration: none;
}
/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.boxes .inputs div button.search-button:hover {
  background-color: #f3630f;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #f57c36), color-stop(51%, #f3630f));
  background: -webkit-linear-gradient(#f57c36 50%, #f3630f 51%);
  background: -moz-linear-gradient(#f57c36 50%, #f3630f 51%);
  background: -o-linear-gradient(#f57c36 50%, #f3630f 51%);
  background: linear-gradient(#f57c36 50%, #f3630f 51%);
}
/* line 33, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.boxes .inputs div button.search-button:active {
  -webkit-box-shadow: #f1600c 0 1px 2px inset;
  -moz-box-shadow: #f1600c 0 1px 2px inset;
  box-shadow: #f1600c 0 1px 2px inset;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.boxes .inputs div button.search-button.disabled, .boxes .inputs div button.search-button[disabled] {
  opacity: 0.6;
  background: #f57931;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.boxes .inputs div button.search-button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 80, ../sass/screen.scss */
.boxes .question {
  color: #e5e5e5;
}
/* line 82, ../sass/screen.scss */
.boxes .question span.suggestion {
  color: #5496ea;
}

/* line 88, ../sass/screen.scss */
.main {
  padding-left: 10.0%;
  padding-right: 10.0%;
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: 0%;
  display: inline;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e5e5e5;
  padding-top: 1%;
}
/* line 96, ../sass/screen.scss */
.main div.header {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: 0%;
  display: inline;
}
/* line 98, ../sass/screen.scss */
.main div.header div {
  padding-top: 1%;
}
/* line 103, ../sass/screen.scss */
.main div.header div span.description {
  width: 91.66667%;
  float: left;
  margin-right: 0%;
  display: inline;
  font: 200 30px/40px "Helvetica Neue", sans-serif;
}
/* line 107, ../sass/screen.scss */
.main div.header div button.watch-button {
  width: 8.33333%;
  float: right;
  margin-right: 0;
  #margin-left: 0%;
  display: inline;
  font-size: 10px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF829FB2', endColorstr='#FF4F6C7F');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #9bb2c2), color-stop(51%, #829fb2));
  background: -webkit-linear-gradient(#9bb2c2 50%, #829fb2 51%);
  background: -moz-linear-gradient(#9bb2c2 50%, #829fb2 51%);
  background: -o-linear-gradient(#9bb2c2 50%, #829fb2 51%);
  background: linear-gradient(#9bb2c2 50%, #829fb2 51%);
  -webkit-box-shadow: #cbd7df 0 1px 0 inset;
  -moz-box-shadow: #cbd7df 0 1px 0 inset;
  box-shadow: #cbd7df 0 1px 0 inset;
  border: 1px solid #7293a8;
  color: white;
  text-shadow: #537286 0 -1px 0;
}
/* line 15, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.main div.header div button.watch-button:hover {
  text-decoration: none;
}
/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.main div.header div button.watch-button:hover {
  background-color: #6c8ea4;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #85a1b4), color-stop(51%, #6c8ea4));
  background: -webkit-linear-gradient(#85a1b4 50%, #6c8ea4 51%);
  background: -moz-linear-gradient(#85a1b4 50%, #6c8ea4 51%);
  background: -o-linear-gradient(#85a1b4 50%, #6c8ea4 51%);
  background: linear-gradient(#85a1b4 50%, #6c8ea4 51%);
}
/* line 33, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.main div.header div button.watch-button:active {
  -webkit-box-shadow: #698ca2 0 1px 2px inset;
  -moz-box-shadow: #698ca2 0 1px 2px inset;
  box-shadow: #698ca2 0 1px 2px inset;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.main div.header div button.watch-button.disabled, .main div.header div button.watch-button[disabled] {
  opacity: 0.6;
  background: #829fb2;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.main div.header div button.watch-button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 112, ../sass/screen.scss */
.main div.header div {
  padding-bottom: 1%;
}
/* line 117, ../sass/screen.scss */
.main div.header div div.breadcrumbs {
  width: 66.66667%;
  float: left;
  margin-right: 0%;
  display: inline;
  padding-top: 2%;
  color: #f57931;
}
/* line 121, ../sass/screen.scss */
.main div.header div div.breadcrumbs span:first-child:before {
  content: "";
}
/* line 124, ../sass/screen.scss */
.main div.header div div.breadcrumbs span:before {
  color: black;
  content: " > ";
}
/* line 129, ../sass/screen.scss */
.main div.header div .social-buttons {
  width: 33.33333%;
  float: right;
  margin-right: 0;
  #margin-left: 0%;
  display: inline;
}
/* line 131, ../sass/screen.scss */
.main div.header div .social-buttons img {
  width: 100%;
}
/* line 136, ../sass/screen.scss */
.main div.header div.filters-container {
  padding-left: 3.0%;
  padding-right: 3.0%;
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: 0%;
  display: inline;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #b6ffd0;
  font: 200 30px/40px "Helvetica Neue", sans-serif;
  color: #50735C;
}
/* line 147, ../sass/screen.scss */
.main div.graph-container {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: 0%;
  display: inline;
  margin-top: 3%;
  margin-bottom: 3%;
}
/* line 151, ../sass/screen.scss */
.main div.graph-container img {
  width: 100%;
}
/* line 157, ../sass/screen.scss */
.main div.active-filter-wrapper div.filters-list {
  padding-left: 1.0%;
  padding-right: 1.0%;
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: 0%;
  display: inline;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  margin-top: 1%;
  padding-top: .5%;
  padding-bottom: .5%;
  background-color: #e5e5e5;
}
/* line 164, ../sass/screen.scss */
.main div.active-filter-wrapper div.filters-list button {
  font-size: 11px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4B4B4B', endColorstr='#FF181818');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #5f5f5f), color-stop(51%, #4b4b4b));
  background: -webkit-linear-gradient(#5f5f5f 50%, #4b4b4b 51%);
  background: -moz-linear-gradient(#5f5f5f 50%, #4b4b4b 51%);
  background: -o-linear-gradient(#5f5f5f 50%, #4b4b4b 51%);
  background: linear-gradient(#5f5f5f 50%, #4b4b4b 51%);
  -webkit-box-shadow: #868686 0 1px 0 inset;
  -moz-box-shadow: #868686 0 1px 0 inset;
  box-shadow: #868686 0 1px 0 inset;
  border: 1px solid #3e3e3e;
  color: #b0b0b0;
  text-shadow: #1e1e1e 0 -1px 0;
}
/* line 15, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.main div.active-filter-wrapper div.filters-list button:hover {
  text-decoration: none;
}
/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.main div.active-filter-wrapper div.filters-list button:hover {
  background-color: #393939;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #4e4e4e), color-stop(51%, #393939));
  background: -webkit-linear-gradient(#4e4e4e 50%, #393939 51%);
  background: -moz-linear-gradient(#4e4e4e 50%, #393939 51%);
  background: -o-linear-gradient(#4e4e4e 50%, #393939 51%);
  background: linear-gradient(#4e4e4e 50%, #393939 51%);
}
/* line 33, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.main div.active-filter-wrapper div.filters-list button:active {
  -webkit-box-shadow: #373737 0 1px 2px inset;
  -moz-box-shadow: #373737 0 1px 2px inset;
  box-shadow: #373737 0 1px 2px inset;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.main div.active-filter-wrapper div.filters-list button.disabled, .main div.active-filter-wrapper div.filters-list button[disabled] {
  opacity: 0.6;
  background: #4b4b4b;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../.rvm/gems/ruby-1.9.3-head/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.main div.active-filter-wrapper div.filters-list button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 170, ../sass/screen.scss */
.main div.today {
  width: 33.33333%;
  float: left;
  margin-right: 0%;
  display: inline;
  margin-right: 66.66667%;
  margin-left: -16.66667%;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #e5e5e5;
  color: #7f7f7f;
  margin-top: 7%;
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}
/* line 181, ../sass/screen.scss */
.main div.today span {
  width: 50%;
  float: right;
  margin-right: 0;
  #margin-left: 0%;
  display: inline;
}
/* line 186, ../sass/screen.scss */
.main .itineraries-container {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: 0%;
  display: inline;
}
/* line 189, ../sass/screen.scss */
.main .itineraries-container .itinerary-box {
  padding-left: 1.0%;
  padding-right: 1.0%;
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: 0%;
  display: inline;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 1px;
  margin-top: 1%;
  margin-bottom: 2%;
}
/* line 198, ../sass/screen.scss */
.main .itineraries-container .itinerary-box .price-box {
  width: 16.66667%;
  float: left;
  margin-right: 0%;
  display: inline;
}
/* line 200, ../sass/screen.scss */
.main .itineraries-container .itinerary-box .price-box span {
  color: #3b84dd;
  font: 200 30px/40px "Helvetica Neue", sans-serif;
}
/* line 205, ../sass/screen.scss */
.main .itineraries-container .itinerary-box .times-box {
  width: 25%;
  float: left;
  margin-right: 0%;
  display: inline;
  color: #7f7f7f;
}
/* line 208, ../sass/screen.scss */
.main .itineraries-container .itinerary-box .times-box tr.outbound {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e5e5e5;
}
/* line 213, ../sass/screen.scss */
.main .itineraries-container .itinerary-box .times-box td {
  padding: 3%;
}
/* line 216, ../sass/screen.scss */
.main .itineraries-container .itinerary-box .times-box span.city {
  color: #585858;
}
/* line 222, ../sass/screen.scss */
.main .itineraries-container .itinerary-box .stops-box {
  width: 8.33333%;
  float: left;
  margin-right: 0%;
  display: inline;
}
/* line 225, ../sass/screen.scss */
.main .itineraries-container .itinerary-box .duration-box {
  width: 8.33333%;
  float: left;
  margin-right: 0%;
  display: inline;
}
/* line 228, ../sass/screen.scss */
.main .itineraries-container .itinerary-box .carriers-box {
  width: 16.66667%;
  float: left;
  margin-right: 0%;
  display: inline;
}
/* line 231, ../sass/screen.scss */
.main .itineraries-container .itinerary-box .booking-box {
  width: 25%;
  float: left;
  margin-right: 0%;
  display: inline;
}
/* line 233, ../sass/screen.scss */
.main .itineraries-container .itinerary-box .booking-box table {
  width: 100%;
}
/* line 235, ../sass/screen.scss */
.main .itineraries-container .itinerary-box .booking-box table a {
  color: #f57931;
  font: 200 23px/30px "Helvetica Neue", sans-serif;
}
/* line 242, ../sass/screen.scss */
.main .itineraries-container .itinerary-box.hovering {
  background-color: #fbfbfb;
}
/* line 245, ../sass/screen.scss */
.main .itineraries-container .itinerary-box.selected {
  border-color: #f57931;
  background-color: white;
}
